@charset "utf-8";
/*======================================
 [ -Main Stylesheet-
  Theme: Jeeb
  Version: 2.0
  Last change: 10/10/2022 ]
 ++ Fonts ++
++ General Style ++
++ Loader++
++ Header ++
/*-------------Fonts---------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");
@import url("http:/fonts.googleapis.com/css?family=Mukta:300,400,500,600,700,800|Teko:400,500,600,700&amp;display=swap&amp;ver=1.0.0");

/*-------------General Style---------------------------------------*/
html {
	overflow-x: hidden !important;
	height: 100%;
 
}
body {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 13px;
	height: 100%;
	text-align: center;
	background: #ffffff;
	color: #000;
  font-family: "Poppins", sans-serif;
  font-display: swap;
}
@-o-viewport {
	width: device-width;
}
@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}
/* ---------Page preload--------------------------------------*/
.loader-wrap {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	bottom:0;
	overflow:hidden;
	z-index:100;
}
.loader-bg {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	bottom:0;
	z-index:1;
    background: #292929;
}
.loader-inner {
	position:absolute;
	left:50%;
	top:50%;
	margin:-25px 0 0 -25px;
    transform: translateY(0);
	width: 50px;
	height: 50px;
	z-index:2;
}
.loader {
	float:left;
	width: 50px;
	height: 50px;
	border-left:10px solid #404040;
	animation: load8 1.1s infinite linear;
}
.loader , .loader:after {
	border-radius: 50%;
	width: 40px;
	height: 40px;
}
@-webkit-keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.page-load {
	position:fixed;
	top:0;
	left:70px;
	right:0;
	bottom:0;
	z-index:19;
	display:none;
	 -webkit-transform: translate3d(0,0,0);
}
.page-load_bg  , .page-load_bg2 {
	position:absolute;
	right:0;
	left:0;
	bottom:0;
	top:100%;
	z-index:3;
	overflow:hidden;
	background:#212121;
}
.page-load_bg2 {
	z-index:2;
}
.page-load_bg span{
	position:absolute;
	left:0;
	bottom:20%;
	width:100%;
	color:#fff;
	font-size:34px;
	z-index:20;
	opacity:0;
	font-weight:800;
    transform: translateY(150px);
	text-transform:uppercase;
	font-family: 'Teko', sans-serif;
	display:block; 
}
.page-load_bg span:before {
	content:'';
	position:absolute;
	left:50%;
	width:50px;
	height:2px;
	top:-20px;
	margin-left:-25px;
}
/*--------------Typography--------------------------------------*/
p {
    font-size: 12px;
    line-height: 24px;
    padding-bottom: 10px;
    font-weight: 500;
    color: #5e646a;
    text-align: left;
}
blockquote {
	float: left;
	padding: 10px 20px;
	margin: 0 0 20px;
	font-size: 17.5px;
	border-left: 15px solid #eee;
	position: relative;
}
blockquote:before {
	font-family: Font Awesome\ 5 Pro;
	content: "\f10e";
	position: absolute;
	color: #ccc;
	bottom: 3px;
	font-size: 43px;
	right: 6px;
	opacity: 0.4
}
blockquote p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #666;
}
.bold-title {
	margin: 15px 0;
	font-size: 24px;
	text-align: left;
	font-weight: 600;
}
/*--------------General--------------------------------------*/
#main {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	opacity: 1;
}
p {
  font-display: swap;
}

/*--------------Header--------------------------------------*/
.header-nav {
  display: block;
  background: #ffffff;
}
.header-nav ul {
  margin: 0px;
  padding: 10px 0px;
}
.header-nav ul li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: inline-block;
  border-left: 2px #3683ED solid;
}
.header-nav ul li:first-child {
  border-left: 0px #3683ED solid;
}
.header-nav ul li a {
  color: #3683ED;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 5px 40px;
  font-size: 24px;
  font-weight: bold;

}
.home-header-banner {
  width: 100%;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 780px) {
  .header-nav {
    display: block;
    position: absolute;
    max-width: 100%;
    width: 600px;
    left: 0px;
    top: 0px;
    border-radius: 0px 0px 30px 0px;
  }
}

/*--------------About Section--------------------------------------*/
.about {
  position: relative;
  display: flex;
  align-items: center;
  width: 1200px;
  max-width: 90%;
  margin: 0px auto;
}
.about-img {
  flex-grow: 1;
  z-index: 9;
}
.about-img img {
  max-width: 100%;
}
.about-text {
  flex-grow: 1;
  position: relative;
  z-index: 8;
}
.about-text-content {
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
  z-index: 11;
  color: #ffffff;
  font-size: 20px;
}
.about-text-img {
  position: relative;
  width: 120%;
  margin-left: -20%;
  z-index: 10;
}

/*--------------Operation Of Area Section--------------------------------------*/
.operation-area-img {
  width: 100%;
}

/*--------------How We Operate Section--------------------------------------*/
.how-we-operate video {
  width: 100%;
}

/*--------------Footer--------------------------------------*/
.footer {
  position: relative;
  width: 100%;
  background: url('/assets_v2/images/footer-bg.webp') top center repeat-x;
  background-size: auto 100%;
  display: flex;
}
.footer::before {
  content: '';
  display: block;
  position: absolute;
  width: 25%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #ffffff;
}
.block-1 {
  position: relative;
  flex: 45%;
  background: url('/assets_v2/images/footer-left-bg-2.webp') top right no-repeat;
  background-size: auto 100%;
  min-height: 400px;
}
.block-2 {
  position: relative;
  flex: 55%;
  text-align: left;
  padding: 80px 20px;
  display: flex;
  justify-content: space-between
}
.links-1 {
  position: relative;
  flex: 50%;
  text-align: left;
  padding: 80px 20px;
}
.links-2 {
  position: relative;
  flex: 50%;
  text-align: left;
  padding: 80px 20px;
}
.footer-title {
  display: inline-block;
  background: #FFCC00;
  color: #3683ED;
  padding: 15px;
  border-radius: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 394px) {
}
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
