/node_modules
/public/hot
/public/storage
/public/images
/public/product_files
/public/coupon_files
/public/phpmyadmin/
/public/command_files/
/public/stock_files
/storage/*.key
/storage/logs_old
/storage/logs
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
nohub.out
package-lock.json
